# Creting Database

In [4]:
!python3 dataset.py --create_database

May take a few minutes.
Downloading Databases Directory...
Retrieving folder list
Retrieving folder 1t86PTOAGZbXZREmIWuzWsjH_37XE16Ei Sentiment140
Retrieving folder 1ir08AMWVipGXKgb5qwwFwXCMTpflEtfh Augmented
Retrieving folder 1jj1fiyN90MuKVsWiYL_dcZ63uc8ALWlh Clean
Retrieving folder 1-CQDwyzDTJH5Sox_NOjK6XcX3X2h6Msg Raw
Processing file 1ElXaORLbOrfXY-mqTDrO_1gHVbfakeLn training.1600000.processed.noemoticon.csv
Retrieving folder list completed
Building directory structure
Building directory structure completed
Downloading...
From (uriginal): https://drive.google.com/uc?id=1ElXaORLbOrfXY-mqTDrO_1gHVbfakeLn
From (redirected): https://drive.google.com/uc?id=1ElXaORLbOrfXY-mqTDrO_1gHVbfakeLn&confirm=t&uuid=07c117fd-8a67-4da8-9745-0056d691bfef
To: /home/maxwell/Thesis/restructure/Sentiment_Dataset/Sentiment140/Raw/training.1600000.processed.noemoticon.csv
100%|████████████████████████████████████████| 239M/239M [00:34<00:00, 7.02MB/s]
Download completed

In [1]:
!tree ./Sentiment_Dataset

./Sentiment_Dataset
├── SemEval17
│   ├── 4a-english.zip
│   └── Raw
│       ├── baseline-A-english.txt
│       ├── README.txt
│       ├── SemEval2017-task4-dev.subtask-A.english.INPUT.txt
│       ├── SemEval2017_task4_test_scorer_subtaskA.pl
│       └── twitter-2016test-A-English.txt
└── Sentiment140
    ├── Augmented
    │   ├── augmented_sentiment140.csv
    │   └── predicted_sentiment140.csv
    ├── Clean
    │   ├── clean_sentiment140.csv
    │   └── sentiment140.csv
    └── Raw
        └── training.1600000.processed.noemoticon.csv

6 directories, 11 files

## Sentiment 140 Cleaning the Dataset

In [15]:
import pandas as pd
cols = [
    'polarity',
    'id',
    'date',
    'query',
    'user',
    'tweet'
]
data = pd.read_csv("./Sentiment_Dataset/Sentiment140/Raw/training.1600000.processed.noemoticon.csv", encoding = 'latin-1', names = cols)

In [16]:
data

,polarity,id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [17]:
data.drop(['id', 'date', 'query', 'user'], axis=1,inplace=True)

### Making Clean Dataset of All datapoints

In [21]:
data

         polarity                                              tweet
0               0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1               0  is upset that he can't update his Facebook by ...
2               0  @Kenichan I dived many times for the ball. Man...
3               0    my whole body feels itchy and like its on fire
4               0  @nationwideclass no, it's not behaving at all....
...           ...                                                ...
1599995         4  Just woke up. Having no school is the best fee...
1599996         4  TheWDB.com - Very cool to hear old Walt interv...
1599997         4  Are you ready for your MoJo Makeover? Ask me f...
1599998         4  Happy 38th Birthday to my boo of alll time!!! ...
1599999         4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [24]:
data.to_csv('Sentiment_Dataset/Sentiment140/Clean/clean_sentiment140.csv', index = False, encoding = 'utf-8')

### Taking 50,000 random Datapoints

In [25]:
data = pd.read_csv("Sentiment_Dataset/Sentiment140/Clean/clean_sentiment140.csv", encoding = 'utf-8')

In [29]:
set(data['polarity'])

{0, 4}

In [22]:
data.sample(frac = 0.50, )

         polarity                                              tweet
407788          0  @Montsterr  I didn't get anything... incase u ...
661443          0                    Has a nasty taste in my mouth.
897228          4  The chocolate is kicking in. Really, it crashe...
1095131         4  @shaundiviney Yeah I know! Let's work on Bring...
220252          0  tomorrow, be flying to manila.  has it really ...
...           ...                                                ...
596835          0  @CarltonJordan and to top it off, i'm still on...
513359          0  @hody77 no  one min they were there &amp; next...
1309176         4  The New LOLAkutty says namaskaaram and good mo...
104449          0  @TaraBusch haha yeah, no idea why im still up....
549881          0  @ddlovato as do I. If ya don't know now you kn...

[800000 rows x 2 columns]

In [23]:
data

         polarity                                              tweet
0               0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1               0  is upset that he can't update his Facebook by ...
2               0  @Kenichan I dived many times for the ball. Man...
3               0    my whole body feels itchy and like its on fire
4               0  @nationwideclass no, it's not behaving at all....
...           ...                                                ...
1599995         4  Just woke up. Having no school is the best fee...
1599996         4  TheWDB.com - Very cool to hear old Walt interv...
1599997         4  Are you ready for your MoJo Makeover? Ask me f...
1599998         4  Happy 38th Birthday to my boo of alll time!!! ...
1599999         4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

## SemEval17 Task 4

In [9]:
import pandas as pd
semEvalRawPath = 'Sentiment_Dataset/SemEval17/Raw/SemEval2017-task4-dev.subtask-A.english.INPUT.txt'
data = pd.read_csv(semEvalRawPath, names  = ['id', 'polarity', 'text', 'date'],sep = '\t')

In [15]:
data.drop(['id', 'date'], axis=1, inplace = True)

In [16]:
data

       polarity                                               text
0       neutral  Picturehouse's, Pink Floyd's, 'Roger Waters: T...
1       neutral  Order Go Set a Watchman in store or through ou...
2      negative  If these runway renovations at the airport pre...
3       neutral  If you could ask an onstage interview question...
4      positive  A portion of book sales from our Harper Lee/Go...
...         ...                                                ...
20627   neutral  @ShaquilleHoNeal from what I think you're aski...
20628  positive  Iran ranks 1st in liver surgeries, Allah bless...
20629   neutral  Hours before he arrived in Saudi Arabia on Tue...
20630  negative  @VanityFair  Alex Kim Kardashian worth how to ...
20631   neutral  I guess even Pandora knows Justin Bieber is a ...

[20632 rows x 2 columns]

In [19]:
data['polarity'].replace('neutral', 'NEU', inplace = True)
data['polarity'].replace('negative', 'NEG', inplace = True)
data['polarity'].replace('positive', 'POS', inplace = True)

In [20]:
data

      polarity                                               text
0          NEU  Picturehouse's, Pink Floyd's, 'Roger Waters: T...
1          NEU  Order Go Set a Watchman in store or through ou...
2          NEG  If these runway renovations at the airport pre...
3          NEU  If you could ask an onstage interview question...
4          POS  A portion of book sales from our Harper Lee/Go...
...        ...                                                ...
20627      NEU  @ShaquilleHoNeal from what I think you're aski...
20628      POS  Iran ranks 1st in liver surgeries, Allah bless...
20629      NEU  Hours before he arrived in Saudi Arabia on Tue...
20630      NEG  @VanityFair  Alex Kim Kardashian worth how to ...
20631      NEU  I guess even Pandora knows Justin Bieber is a ...

[20632 rows x 2 columns]

In [21]:
!mkdir ./Sentiment_Dataset/SemEval17/Clean
data.to_csv("./Sentiment_Dataset/SemEval17/Clean/semeval.csv", encoding = 'utf-8', index=False)

In [23]:
!tree ./Sentiment_Dataset

./Sentiment_Dataset
├── SemEval17
│   ├── Clean
│   │   └── semeval.csv
│   └── Raw
│       ├── 4a-english.zip
│       ├── baseline-A-english.txt
│       ├── README.txt
│       ├── SemEval2017-task4-dev.subtask-A.english.INPUT.txt
│       ├── SemEval2017_task4_test_scorer_subtaskA.pl
│       └── twitter-2016test-A-English.txt
└── Sentiment140
    ├── Augmented
    │   ├── augmented_sentiment140.csv
    │   └── predicted_sentiment140.csv
    ├── Clean
    │   ├── clean_sentiment140.csv
    │   └── sentiment140.csv
    └── Raw
        └── training.1600000.processed.noemoticon.csv

7 directories, 12 files